@import "helpers/mixins";
@import "base/index";
@import "font-icons";

$tablet: 650px;
$desktop: 950px;
$desktop-large: 1260px;

.container {
    margin: 0 auto;
    @include breakpoint(medium)     { width: $tablet; }
    @include breakpoint(desktop)    { width: $desktop; }
    @include breakpoint(large)      { width: $desktop-large; }
}

.info-block {
    margin: 0 auto;
    padding: 30px 40px;
    width: 300px;
    text-align: center;
    @include breakpoint(medium) { width: 610px; }

    .info-block-header {
        margin-bottom: 15px;
    }

    .info-block-title {
        margin-top: 4px;
        font-size: 20px;
        font-weight: 700;
    }
}

.btn {
    display: inline-block;
    padding: 7px 42px 8px 33px;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(150, 150, 150, 1);
    border-radius: 4px;
    color: #ffffff;
    border: none;
    outline: none;
    @include linearGradient(#f79535, #f47b31);

    &:hover {
        color: #ffffff;
        @include linearGradient(#f47b31, #f79535);
    }


    &.btn-prev,
    &.btn-next {
        border-radius: 5px;
        padding: 13px 28px;
        border: 1px solid #055197;
        color: #055197;
        font-weight: 400;
        background: transparent;
        text-shadow: none;
        letter-spacing: 0.7px;

        &.active {
            font-weight: 700;
            border-top: 1px solid #eb8522;
            border-left: 1px solid #eb8522;
            border-right: 1px solid #eb8522;
            border-bottom: 1px solid #bd6b38;
            color: #ffffff;
            text-shadow: 0 1px 1px rgba(150, 150, 150, 1);
            @include linearGradient(#f79535, #f47b31);

            &:hover {
                @include linearGradient(#f47b31, #f79535);
            }
        }
    }


    &.btn-prev {
        float: left;
        text-align: left;
    }

    &.btn-next {
        float: right;
        text-align: right;
    }
}

.icon-prev,
.icon-next {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 21px;
    border: 1px solid #055197;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;

    #{".active"} & {
        border-color: #ffffff;
        -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
    }
}

.icon-prev { margin-right: 20px; }
.icon-next { margin-left: 20px; padding-left: 3px; }

// Questions
.question-area {
    margin: 0 auto;
    @include clearfix;
}

$step-passive-bg: #f1f1f1;
$step-active-bg: #f47920;
$step-color: #ffffff;

.question-area-entry {
    text-align: center;
    margin: 0 auto 40px;

    @include breakpoint(medium) { width: 680px; }
    @include breakpoint(desktop) { width: 760px; }

    .question-img { margin-bottom: 22px; }

    .steps {
        display: block;
        margin-bottom: 40px;
        font-size: 0;
        overflow: hidden;

        .steps-item {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            font: 600 18px/50px Arial, sans-serif;
            border-radius: 50%;
            background: $step-passive-bg;
            color: $step-color;
            &.current { background: $step-active-bg; }
            &:not(:last-of-type) {
                margin-right: 100px;
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    width: 150px;
                    height: 4px;
                    z-index: -1;
                    background: $step-passive-bg;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }

    .question {
        font-family: Arial, sans-serif;
        font-weight: 400;
        .question-text { font-size: 30px; }
        .question-hint { font-size: 18px; }

        .variants {
            margin-top: 40px;
            @include clearfix;

            .left { float: left; }
            .right { float: right; }

            .variant-item {
                display: inline-block;

                .variant-caption {
                    margin-top: 27px;
                    display: block;
                    font-family: Arial, sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: #f47920;
                }
            }
        }
    }
}

